.title{
  color: rgb(100, 207, 255);
    font-size: 40px;
    font-family: Raleway;
    text-align: center;
}
.fr {
  font-family: Raleway
}
.fs-xs {
  font-size: 10px;
}
.fs-sm {
  font-size: 12px;
}
.fs-md {
  font-size: 14px;
}
.fs-lg {
  font-size: 16px;
}
.fs-xl {
  font-size: 20px;
}
.fs-xxl {
  font-size: 30px;
}
.pr-0{
  padding-right: 0;
}
.pl-0{
  padding-left: 0;
}
.pt-0{
  padding-top: 0;
}
.pb-0{
  padding-bottom: 0;
}
.p-0{
  padding: 0;
}
.btn-row-1 > .btn {
  max-width: 100%;
  margin: 0;
}

.btn-row-2 > .btn {
  max-width: 50%;
  margin: 0;
}

.btn-row-3 > .btn {
  max-width: 33.33333%;
  margin: 0;
}

.btn-row-4 > .btn {
  max-width: 25%;
  margin: 0;
}

.btn-row-5 > .btn {
  max-width: 20%;
  margin: 0;
}

.btn-row-6 > .btn {
  max-width: 16.66667%;
  margin: 0;
}

.btn-row-7 > .btn {
  max-width: 14.28571%;
  margin: 0;
}

.btn-row-8 > .btn {
  max-width: 12.5%;
  margin: 0;
}

.btn-row-9 > .btn {
  max-width: 11.11111%;
  margin: 0;
}

.btn-row-10 > .btn {
  max-width: 10%;
  margin: 0;
}

.btn-row-11 > .btn {
  max-width: 9.09091%;
  margin: 0;
}

.btn-row-12 > .btn {
  max-width: 8.33333%;
  margin: 0;
}

html,
body{
  height:100%;
}
body{
 
      -webkit-box-shadow: inset 0 0 40px 20px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 100px 6px rgba(0,0,0,0.4);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
}
.app-tray-wrapper{
     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    color: rgb(100, 207, 255); 
}
.app-tray {
  min-height: 800px !important;
}
.app:not(.active) {
    border: 1px solid  rgb(100, 207, 255) !important;
}
.app-tray.app-open > .app.active >.app-content{
    box-shadow: inset 0 0 100px 10px rgba(100, 207, 255,0.7);
}

.btn.btn-appflow{
    box-shadow: inset 0 0 10px 2px rgba(100, 207, 255,0.7);
    border: 1px solid  rgb(100, 207, 255) !important;
    color: rgb(100, 207, 255);
}
