
.f-mfizz:before{
   margin-left: 14%;
}
@media (min-width: 0px) {
  pre {
    font-size: 6px;
  }
}

@media (min-width: 260px) {
  pre {
    font-size: 7.2px;
  }
}

@media (min-width: 340px) {
  pre {
    font-size: 8.4px;
  }
}

@media (min-width: 415px) {
  pre {
    font-size: 9.6px;
  }
}

@media (min-width: 768px) {
  pre {
    font-size: 10.8px;
  }
}

@media (min-width: 992px) {
  pre {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  pre {
    font-size: 13.2px;
  }
}

@media (min-width: 1492px) {
  pre {
    font-size: 14.4px;
  }
}

.slide-in {
  z-index: 10; /* to position it in front of the other content */
  position: absolute;
  overflow: hidden; /* to prevent scrollbar appearing */
}

.slide-in.from-left {
  left: 0;
}

.slide-in.from-right {
  right: 0;
}

.slide-in-content {
  padding: 5px 20px;
  background: #eee;
  transition: all .5s ease; /* our nice transition */
}

.slide-in.from-left .slide-in-content {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in.from-right .slide-in-content {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in.show .slide-in-content {
  transform: translateX(0);
  -webkit-transform: translateX(0);
}
