
.f-mfizz:before{
   margin-left: 14%;
}
@media (min-width: 0px) {
  pre {
    font-size: 6px;
  }
}

@media (min-width: 260px) {
  pre {
    font-size: 7.2px;
  }
}

@media (min-width: 340px) {
  pre {
    font-size: 8.4px;
  }
}

@media (min-width: 415px) {
  pre {
    font-size: 9.6px;
  }
}

@media (min-width: 768px) {
  pre {
    font-size: 10.8px;
  }
}

@media (min-width: 992px) {
  pre {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  pre {
    font-size: 13.2px;
  }
}

@media (min-width: 1492px) {
  pre {
    font-size: 14.4px;
  }
}

.bg-animated {
	
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
.color-animated {
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	color:transparent;
    	-webkit-background-clip: text;
    	background-clip: text;
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.bg-animated-rectangles .bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg-animated-rectangles .bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg-animated-rectangles  .bg3 {
  animation-duration:5s;
}

.bg-animated-rectangles  .content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}



@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.carousel-indicators.slide {
     position: inherit; 
     bottom: inherit 
     left: inherit; 
     z-index: inherit; 
     width: inherit; 
     padding-left: inherit; 
     margin-left: inherit; 
     text-align: inherit; 
     list-style: inherit; 
}

.carousel-indicators.slide> span {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.carousel-indicators.slide> span{
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left;
}
