<div class="app" id="More">
         <div class="app-header app-icon">
            <i class="fa fa-plus"></i>
         </div>
         <div class="app-content">
            <a href="#" class="col-xs-2 col-lg-1 app-close text-left fs-auto-xl pr-0 text-color-primary"><i class="fa fa-chevron-left"></i><span class="fr">Close</span></a>
            <div class="col-xs-8 col-lg-10 fr fs-auto-h3 p-0">More</div>
            <div class="col-xs-2 col-lg-1"></div>
            <div class="col-xs-12">
               <a href="#" class="btn btn-appflow pull-left" data-toggle-app="#FAQs"><i class="fa fa-arrow-circle-left"></i> FAQs              </a>
            </div> 
            <div class="col-xs-12">
               <div class="h-400 bg-animated-alt">
               <div class="app-tray app-size-auto">
                  <div  id="FancyApp1" class="app bg-animated">
                     <div class="app-header app-icon">
                        <div id="IconCarousel" class="carousel slide" data-ride="carousel">
                        <div  class="carousel-inner">
                              <div class="item active">
                                 <i class="fa fa-cog"></i>
                              </div>

                              <div class="item">
                                 <i class="fa fa-home"></i>
                              </div>

                              <div class="item">
                                 <i class="fa fa-phone"></i>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="app-content">
                        <div class="btn btn-appflow app-close">Close App</div>
                     </div>
                     <div class="app-title">
                        Sliding Icons
                     </div>
                  </div>
                  <div  id="FancyApp2" class="app bg-white">
                     <div class="app-header app-icon">
                        <i class="fa fa-spinner fa-spin color-animated"></i>
                     </div>
                     <div class="app-content">
                        <div class="btn btn-appflow app-close">Close App</div>
                     </div>
                     <div class="app-title">
                        Loading...
                     </div>
                  </div>
                  <div  id="FancyApp3" class="app bg-white">
                     <div class="app-alert"><span class="badge bg-animated fs-auto-lg">2</span></div>
                     <div class="app-header app-icon">
                        <i class="fa fa-exclamation-triangle color-animated"></i>
                     </div>
                     <div class="app-content">
                        <div class="btn btn-appflow app-close">Close App</div>
                     </div>
                     <div class="app-title">
                        App &amp; Alert
                     </div>
                  </div>
                  <div  id="FancyApp4" class="app bg-white">
                     <div class="app-header ">
                        <article class="clock">
                           <div class="hours-container">
                              <div class="hours"></div>
                           </div>
                           <div class="minutes-container">
                              <div class="minutes"></div>
                           </div>
                           <div class="seconds-container">
                              <div class="seconds"></div>
                           </div>
                        </article>
                     </div>
                     <div class="app-content">
                        <div class="btn btn-appflow app-close">Close App</div>
                     </div>
                     <div class="app-title">
                        Clock
                     </div>
                  </div>
                  <div  id="FancyApp5" class="app">
                     
                     <div class="app-header bg-lion">
                     </div>
                     <div class="app-content">
                        <div class="btn btn-appflow app-close">Close App</div>
                     </div>
                     <div class="app-title">
                        Image BG
                     </div>
                  </div>
                  <div  id="FancyApp6" class="app">
                     <div class="app-header">
                        <div id="IconCarousel" class="carousel slide-show slide pos-static" data-ride="carousel">
                        <div  class="carousel-inner">
                              <div class="item active">
                                 <div class="bg-lion"></div>
                              </div>

                              <div class="item">
                                 <div class="bg-penguin"></div>
                              </div>

                              <div class="item">
                                 <div class="bg-puppy"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="app-content">
                        <div class="btn btn-appflow app-close">Close App</div>
                     </div>
                     <div class="app-title">
                        Slide Show
                     </div>
                  </div>
               </div>
               </div>


            </div>
            <div class="col-xs-12 footer">
               <a href="#" class="btn btn-appflow pull-left" data-toggle-app="#FAQs"><i class="fa fa-arrow-circle-left"></i> FAQs              </a>
            </div>
         </div>
         <div class="app-title">More</div>
      </div>
