 <div class="app" id="FAQs">
         <div class="app-header app-icon">
            <i class="fa fa-question-circle"></i>
         </div>
         <div class="app-content">
            <a href="#" class="col-xs-2 col-lg-1 app-close text-left fs-auto-xl pr-0 text-color-primary"><i class="fa fa-chevron-left" style="
"></i><span class="fr">Close</span></a>
            <div class="col-xs-8 col-lg-10 fr fs-auto-h3 p-0">FAQs</div>
            <div class="col-xs-2 col-lg-1"></div>
            <div class="col-xs-12">
               <a href="#" class="btn btn-appflow pull-left" data-toggle-app="#Advanced"><i class="fa fa-arrow-circle-left"></i> Advanced              </a>
               <a href="#" class="btn btn-appflow pull-right" data-toggle-app="#More">More <i class="fa fa-arrow-circle-right"></i>             </a>
            </div>
            <div class="col-xs-12"></div>
            <div class="col-xs-12 footer">
               <a href="#" class="btn btn-appflow pull-left" data-toggle-app="#Advanced"><i class="fa fa-arrow-circle-left"></i> Advanced              </a>
               <a href="#" class="btn btn-appflow pull-right" data-toggle-app="#More">More <i class="fa fa-arrow-circle-right"></i>             </a>
            </div>
         </div>
         <div class="app-title">FAQs</div>
      </div>
