<div class="section app-tray app-size-auto">
      <div class="app" id="GettingStarted">
         <div class="app-header app-icon"><i class="fa fa-book"></i></div>
         <div class="app-content">
            <a href="#" class="col-xs-2 col-lg-1 app-close text-left fs-auto-xl pr-0 text-color-primary"><i class="fa fa-chevron-left" style="
"></i><span class="fr">Close</span></a>
            <div class="col-xs-8 col-lg-10 fr fs-auto-h3 p-0">Getting Started</div>
            <div class="col-xs-2 col-lg-1"></div>
            <div class="col-xs-12">
               <a href="#" class="btn btn-appflow pull-right" data-toggle-app="#TrayConfigs">Tray Configs <i class="fa fa-arrow-circle-right"></i></a>
            </div>
            <div class="col-xs-12 text-left">
               <h2 class="fs-auto-h6">Requirements</h2>
               <p class="fs-auto-md text-color-light">AppFlow only requires <a href="http://jquery.com/download/" target="_blank" class="text-color-alt">Jquery 1.11.3</a> or above to run however the following libraries are recommended to really take advantage of AppFlow's capabilities</p>

               <ul class="fs-auto-md">
                  <li><a href="https://getbootstrap.com/" target="_blank" class="text-color-alt"><strong>Bootstrap</strong></a></li>
                  <li><a href="http://fontawesome.io/" target="_blank" class="text-color-alt"><strong>FontAwesome</strong></a></li>
               </ul>

               <h2 class="fs-auto-h6">Let's Get Started</h2>
               <p class="fs-auto-md text-color-light">To set up the basic layout you only need 2 main components</p>
               
               <ul class="fs-auto-md">
                  <li><a href="#GettingStartedTray" class="text-color-alt"><strong>Tray</strong></a></li>
                  <li><a href="#GettingStartedApp" class="text-color-alt"><strong>App</strong></a></li>
               </ul>

               <div id="GettingStartedTray"></div>
               <h2 class="fs-auto-h6">Tray</h2>
               <p class="fs-auto-md text-color-light">The Tray is the container of all the App elements. To begin a new tray simply add the following code to your HTML:</p>
               <pre>
                  <code>&lt;div class=&quot;app-tray&quot; id=&quot;MyTray&quot;&gt;</code>
                  <code>&lt;/div&gt;</code>
               </pre>
               <a href="#" class="btn btn-appflow-alt" data-toggle-app="#TrayConfigs">More about Tray Configuration</a>

               <div id="GettingStartedApp"></div>
               <h2 class="fs-auto-h6">App</h2>
               <p class="fs-auto-md text-color-light">The App is the component that toggles the content shown in the Tray. Clicking or tapping on an App element expands the App element and shows the desired content. The App element has three distinct child elements:</p>
               <ul class="fs-auto-md">
                  <li><strong>Header</strong>: The section visible when the app is collpsed/closed</li>
                  <li><strong>Content</strong>: The section visible when the app is expanded/open</li>
                  <li><strong>Title</strong>: The section visible when the app is collpsed/closed that shows text only</li>
               </ul>
               <p class="fs-auto-md text-color-light"><strong>Note</strong>: The App element layout and style is built around using these 3 child elements only. It is highly recommended that custom and complex layouts for the title be moved to the header element.</p>
               <a href="#" class="btn btn-appflow-alt" data-toggle-app="#AppConfigs">More about App Configuration</a>
               <p class="fs-auto-md text-color-light">To begin a new app simply add an app element to your tray like the following:</p>
               <pre>
                  <code>&lt;div class=&quot;app-tray&quot; id=&quot;MyTray&quot;&gt;</code>
                  <code>   &lt;div class=&quot;app&quot;&gt;</code>
                  <code>      &lt;div class=&quot;app-header&quot;&gt;Your header content&lt;/div&gt;</code>
                  <code>      &lt;div class=&quot;app-content&quot;&gt;Your app content goes here&lt;/div&gt;</code>
                  <code>      &lt;div class=&quot;app-title&quot;&gt;Your App Title Text&lt;/div&gt;</code>
                  <code>   &lt;/div&gt;</code>
                  <code>&lt;/div&gt;</code>
               </pre>
            </div>
            <div class="col-xs-12 footer">
               <a href="#" class="btn btn-appflow pull-right" data-toggle-app="#TrayConfigs">Tray Configs <i class="fa fa-arrow-circle-right"></i></a>
            </div>
         </div>
         <div class="app-title">Getting Started</div>
      </div>
