<div class="app" id="AppConfigs">
         <div class="app-header app-icon"><span>
            <i class="fa fa-square"></i>
            <i class="fa fa-cogs fa-stack-0-5x fa-inverse-custom"></i>
            </span>
         </div>
         <div class="app-content">
            <a href="#" class="col-xs-2 col-lg-1 app-close text-left fs-auto-xl pr-0 text-color-primary"><i class="fa fa-chevron-left" style="
"></i><span class="fr">Close</span></a>
            <div class="col-xs-8 col-lg-10 fr fs-auto-h3 p-0">App Configs</div>
            <div class="col-xs-2 col-lg-1"></div>
            <div class="col-xs-12">
               <a href="#" class="btn btn-appflow pull-left" data-toggle-app="#TrayConfigs"><i class="fa fa-arrow-circle-left"></i> Tray Configs              </a>
               <a href="#" class="btn btn-appflow pull-right" data-toggle-app="#JavaScript">JavaScript <i class="fa fa-arrow-circle-right"></i>             </a>
            </div>
            <div class="col-xs-12 text-left">
               <h2 class="fs-auto-h6">Relative App Width And Hight</h2>
               <p class="fs-auto-md text-color-light">While the overall size of collapsed App elements are controlled by classes applied to the Tray element there may be the need to make individual App elements bigger than the default. That is where App Span  and App Height Span setting come into play</p>
               <div class="col-xs-12">
                  <h2 class="fs-auto-xl">App Span</h2>
                  <p class="fs-auto-md text-color-light">This option controls the width of App element relative to the overall App Size and spacing options set in the Tray. Add any one of the following classes to an App element:</p>
                  <ul>
                        <li><strong>App Span 2 </strong>: add "app-span-2" (Collapsed app spans width of 2 App elements)</li>
                        <li><strong>App Span 3 </strong>: add "app-span-3" (Collapsed app spans width of 3 App elements)</li>
                        <li><strong>App Span 4 </strong>: add "app-span-4" (Collapsed app spans width of 4 App elements)</li>
                        <li><strong>App Span 5 </strong>: add "app-span-5" (Collapsed app spans width of 5 App elements)</li>
                     </ul>
               </div>
               <div class="col-xs-12">
                  <h2 class="fs-auto-xl">App Height Span</h2>
                  <p class="fs-auto-md text-color-light">This option controls the height of App element relative to the overall App Size and spacing options set in the Tray. Add any one of the following classes to an App element:</p>
                  <ul>
                        <li><strong>App Height Span 2 </strong>: add "app-height-span-2" (Collapsed app spans height of 2 App elements)</li>
                        <li><strong>App Height Span 3 </strong>: add "app-height-span-3" (Collapsed app spans height of 3 App elements)</li>
                        <li><strong>App Height Span 4 </strong>: add "app-height-span-4" (Collapsed app spans height of 4 App elements)</li>
                        <li><strong>App Height Span 5 </strong>: add "app-height-span-5" (Collapsed app spans height of 5 App elements)</li>
                     </ul>
               </div>
               <h2 class="fs-auto-h6">Alternate Styling for Collapsed Apps</h2>
               <p class="fs-auto-md text-color-light">By default a collapsed App element is flat with rounded corners. AppFlow's provides some alternate options for displaying collapsed apps. Add any of the following classes to an App element:</p>
               <ul>
                        <li><strong>Square Corners </strong>: add "app-square" </li>
                        <li><strong>Glossy/Glass Effect </strong>: add "glass" </li>
                        <li><strong>Beveled border Effect </strong>: add "beveled" </li>
                     </ul>
               <h2 class="fs-auto-h6">Using Icons in the Header</h2>
               <p class="fs-auto-md text-color-light">If you are using a icon font library such as FontAwesome and you are using icons in the Header element of an App element you can add an "app-icon" class to the Header element to let the the icon size to scale with the App Size Tray option</p>
               <p class="fs-auto-md text-color-light">Also if you are using the "app-icon" class you can add an additional class for controlling the relative size of the icon by adding any one of the following classes to the App Header element:</p>
               <ul>
                        <li><strong>App Icon Extra Small </strong>: add "app-icon-xs" smallest icon</li>
                        <li><strong>App Icon Small </strong>: add "app-icon-sm" small icon</li>
                        <li><strong>App Icon Medium </strong>: add "app-icon-md" medium icon. <i>This is the implied default value if an app-icon-{size} class is not applied to the App Header element</i></li>
                        <li><strong>App Icon Large </strong>: add "app-icon-lg" large icon</li>
                        <li><strong>App Icon Extra large </strong>: add "app-icon-xl" largest icon</li>
                        
                     </ul>
            </div>
            <div class="col-xs-12 footer">
               <a href="#" class="btn btn-appflow pull-left" data-toggle-app="#TrayConfigs"><i class="fa fa-arrow-circle-left"></i> Tray Configs              </a>
               <a href="#" class="btn btn-appflow pull-right" data-toggle-app="#JavaScript">JavaScript <i class="fa fa-arrow-circle-right"></i>             </a>
            </div>
         </div>
         <div class="app-title">App Configs</div>
      </div>
